<link rel="stylesheet" href="/stylesheets/admin.css">
{{>admin-header}}


{{!-- <div class="p-5">
  <a class="btn amado-btn mb-2" style="float: right;" href="/admin/product-add">ADD PRODUCT</a> --}}

{{!--<table class="table mt-5" id="table">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Product Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
     
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
 
  <tbody>
     {{#each productList}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{pname}}</td>
      <td>{{brand}}</td>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
     
      <td><img src="/product-images/{{image.[0]}}.jpg" alt="" width="100px" height="100px"></td>
     

     <td><a class="btn btn-warning" onclick="return confirm('Are you sure you want to edit {{pname}}?')" href="/admin/product-edit/{{_id}}">Edit</a></td>
     {{#if status}}
     <td><a class="btn btn-warning"  href="/admin/product-block/{{_id}}">List</a></td>
   
   {{else}}
    <td><a class="btn btn-warning"  href="/admin/product-unblock/{{_id}}">Unlist</a></td>
   {{/if}}


 </tr>
{{/each}}
    </tbody>
</table>

</div>
 <script>
    $(document).ready(function(){
        $('#table').dataTable();
    })
</script> --}}





{{!-- <div class="container"> --}}
        <div class="row mt-3">
            <div class="col-12">
              <div class="p-5">
  <a class="btn amado-btn mb-2" style="float: right;" href="/admin/product-add">ADD PRODUCT</a>

                <div class="table-responsive p-2">
                    <table class="table table-striped table-bordered" id="table">
                        <thead>
                            <tr>
                                 <th scope="col">Sl.No</th>
      <th scope="col">Product Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
     
      <th scope="col">Image</th>
      <th scope="col"></th>
      <th scope="col">Actions</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {{#each productList}}
                            <tr>
                              
                               <td>{{@index}}</td>
                                <td>{{pname}}</td>
      <td>{{brand}}</td>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
                        <td><img src="/product-images/{{image.[0]}}.jpg" alt="" width="100px" height="100px"></td>        
                                <td><a class="btn btn-warning" onclick="return confirm('Are you sure you want to edit {{pname}}?')" href="/admin/product-edit/{{_id}}">Edit</a></td>
     {{#if status}}
     <td><a class="btn btn-warning"  href="/admin/product-block/{{_id}}">List</a></td>
   
   {{else}}
    <td><a class="btn btn-warning"  href="/admin/product-unblock/{{_id}}">Unlist</a></td>
   {{/if}}
                                      
                                       
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{{!-- </div> --}}
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function(){
        $('#table').dataTable();
    })
</script>