 <!-- Search Wrapper Area Start -->
  {{>user-header}}
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        
       
         <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Checkout</h2>
                            </div>

                            <form  name="myform" action="" id="Placeorder">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name="first_name" value="{{address.fname}}" placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name="last_name" value="{{address.lname}}" placeholder="Last Name" required>
                                    </div>
                            
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{address.email}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="address" placeholder="Address" value="{{address.address}}">
                                    </div>

                                     <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="country" placeholder="Country" value="{{address.country}}">
                                    </div>
                                     <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="state" placeholder="State" value="{{address.state}}">
                                    </div>
                            
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="city" placeholder="City" value="{{address.city}}">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name="zipCode" placeholder="Zip Code" value="{{address.zip}}">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="number" class="form-control" name="phone" min="0" placeholder="Phone No" value="{{address.phone}}">
                                    </div>
                            
                                    <div class="col-12">
                                        {{!-- <div class="custom-control custom-checkbox d-block mb-2">
                                            <input type="checkbox" class="custom-control-input" id="Check2" name="save" value=true>
                                            <label class="custom-control-label" for="customCheck2">Save address</label>
                                        </div> --}}
                            
                                        <div class="custom-control custom-checkbox d-block mb-2">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2" name="save" value=true>
                                            <label class="custom-control-label" for="customCheck2">Save address</label>
                                        </div>
                            
                            
                            
                            
                            
                                        <div class="custom-control custom-checkbox d-block">
                                            {{!-- <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Choose from saved address</label> --}}
                                            <a class="checkout" href="/addressbook">Choose from saved address</a>
                                        </div>
                                    </div>
                                    <div>
                                        <p>{{err}}</p>
                                    </div>
                                </div>
                            
                                </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="cart-summary">
                                        <h5>Cart Total</h5>
                                        <ul class="summary-table">
                                            <li><span>subtotal:</span> <span>{{total.[0].total}}</span></li>
                                            <li><span>delivery:</span> <span>Free</span></li>
                                            <li><span>total:</span> <span>{{total.[0].total}}</span></li>
                                        </ul>
                            
                                        <div class="payment-method">
                                            <!-- Cash on delivery -->
                                            <div>
                                                <input type="radio" id="cod" name="payment" value="cod" checked>
                                                <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                            </div>
                                            <!-- Paypal -->
                                            <div>
                                                <input type="radio" id="paypal" name="payment" value="paypal">
                                                <label class="custom-control-label" for="paypal">Online payment</label>
                                            </div>
                                            
                                             <div>
                                                <input type="radio" id="wallet" name="payment" value="wallet" {{#if (gte userData.wallet total.[0].total)}} {{else}}disabled {{/if}}>
                                                <label class="custom-control-label" for="paypal">Wallet</label>
                                            </div>
                                        </div>
                                        <div>
                                            {{#if (gte userData.wallet total.[0].total)}}
                                            <p>Wallet amount:{{userData.wallet}}</p>
                                            {{else}}
                                            <p>Wallet amount:{{userData.wallet}}</p>
                                            <p class="text-danger">Insufficient balance</p>
                                            {{/if}}
                                        </div>
                                        
                                       
                                        <div class="cart-btn mt-95">
                                            <button type="submit" class="btn amado-btn w-100">Checkout</a>
                                        </div>
                            </form>
                   
{{!-- 
                            <div>
                                <button type="submit" class="btn btn-dark"></button>
                            </div> --}}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>


<script>

    $('#Placeorder').submit((e) => {
       
        e.preventDefault();
        $.ajax({
           url: '/place-order',
            method: 'POST',
            data: $('#Placeorder').serialize(),
            success: (response) => {
                 console.log(response)
                if(response.cod){
                    location.href="/success-page"
                    console.log(response)
                }else{
                    razorpayPayment(response)
                }
            }
        })
    })
    
    function razorpayPayment(order) {
        order.amount=parseFloat(order.amount)
        console.log(order.amount)
        var options = {
            "key": "rzp_test_PviVA6VS2vFEaD", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Decora",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
               // alert(response.razorpay_payment_id);
               // alert(response.razorpay_order_id);
                //alert(response.razorpay_signature) 
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }

function verifyPayment(payment, order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                console.log("jii",response.status);
                if(response.status){
                    location.href='/success-page'
                }else{
                    alert("payment failed")
                }
            }
        })
    }
</script>


<script>


     
    //function verifyPayment(payment, order) {
      //  $ajax({
        //    url: 'verify-payment',
          //  data: {
            //    payment,
              //  order
            //},
           // method: 'post'
            //success:(response)=>{
              //  if(response.status)
//{
    //location.href:'/'
//}else{
    //alert("payment failed")
//}
   // })
   // }


    
</script>



                <!-- Single Catagory -->
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
   {{>user-footer}}