 <!-- Search Wrapper Area Start -->
   {{>user-header}}
        <!-- Header Area End -->

     

                <!-- Single Catagory -->
                <div class='mt-2'></div>
<div class="container mt-5">
		<div class="main-body">
			<div class="row">
			<h2 class="mt-4">User Profile</h2>
				<div class="col-lg-8">
					<div class="card"><form action="/user-profile" method="post">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
                                    
									<h6 class="mb-0">Full Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" id="exampleInputName" name="name" value="{{userData.name}}" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="email" class="form-control" id="exampleInputEmail" name="email" value="{{userData.email}}" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="number" class="form-control" id="exampleInputPhone" min="0" name="phone" value="{{userData.phone}}" readonly>
								</div>
							</div>
							
							<div class="row mt-3">
								<div class="col-sm-3 "></div>
								<div class="col-sm-9 text-secondary">
									 <a type="submit" id="edit-Button" class="btn btn-warning" style="color: white; width:100px;">Edit</a>
                               <button type="submit" onclick="window.location.href='/user-profile'" class="btn btn-warning" style="width: 100px; color:white;">Update</button>
                        
                                </div>
							</div>
						</div></form>
					</div>
                    <script>
            document.getElementById('edit-Button').onclick = function() {
        document.getElementById('exampleInputName').readOnly = false;
        document.getElementById('exampleInputEmail').readOnly = false;
         document.getElementById('exampleInputPhone').readOnly = false;
};</script>
					<div class="row">
						<div class="col-sm-12">
							<div class="card mt-4">
								<div class="card-body">
									<img src="/img/wallet.jpg" style="width: 150px;">
									<p>Wallet Amount:₹{{userData.wallet}}</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
                	<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h4>{{userData.name}}</h4>
									
                                </div>
							</div>
							<hr class="my-4">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									 <h6 class="mb-0"><i class="fa-solid fa-address-book me-3 fs-4 text-primary"></i><a href="/user-address" style="text-decoration: none;color: black;">Address Book</a></h6>
                                </li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0"><i class="fa-sharp fa-solid fa-cart-shopping me-3 fs-5 text-success"></i><a href="/order-history" style="text-decoration: none;color: black;">My Orders</a></h6>
                                </li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									 <h6 class="mb-0"><i class="fa-solid fa-heart me-3 fs-5 text-danger"></i><a href="/wishlist" style="text-decoration: none;color: black;">Wish List</a></h6>
                                </li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									 <h6 class="mb-0"><i class="fa-solid fa-key  me-3 fs-5 text-secondary"></i><a href="/change-password/{{userId}}" style="text-decoration: none;color: black;">Change Password</a></h6>
                                </li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									 <h6 class="mb-0"><i class="fa-solid fa-right-from-bracket me-3 fs-5 text-dark"></i><a href="/logout" style="text-decoration: none;color: black;">Logout</a></h6>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



                </div>
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    {{>user-footer}}