 <!-- Search Wrapper Area Start -->
  {{>user-header}}
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        
      

                         <div class="cart-table-area section-padding-100">
                             {{#if wishlistItems}}
                           
                   
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 ">
                        <div class="cart-title mt-30">
                            <h2>Wishlist</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>{{#each wishlistItems}}
                                    
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="/product-images/{{products.image.[0]}}.jpg" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{products.pname}}</h5>
                                        </td>
                                        <td class="price">
                                            <span>{{products.price}}</span>
                                        </td>
                                         {{#if (gte 0 product.stock )}}
                                        <p class="text-danger">Out of Stock</p>
                                        {{else}}
                                        <td class="price">
                                            <span><a href="/add-to-cart/{{products._id}}"><i class="fa-solid fa-cart-shopping"></i></span></a>
                                        </td>{{/if}}
                                        <td class="price">
                                            <span><a href="/wishlist-delete/{{products._id}}"><i class="fa-sharp fa-solid fa-xmark"></i></span></a>
                                        </td>
                                         
                                            {{!-- </div> --}}
                                        </td>
                                    </tr>
                                
                                   {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
               


                  
                      

             
                </div>
                {{else}}
                 <div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
                                <img src="/img/empty-wishlist.webp" class="mb-5" style="width:500px; max-width: 100%; max-height: 100%; ">
                            </div>
                    {{/if}}
                {{!-- {{/if}} --}}
            </div>
        </div>
    </div>


                <!-- Single Catagory -->
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->
    {{>user-footer}}